DB_HOST=db
DB_PORT=3306
DB_NAME=hostel_leave
DB_USER=hostel_app
DB_PASS=change-this-local-password
MYSQL_ROOT_PASSWORD=change-this-local-root-password
QR_HMAC_SECRET=generate-a-long-random-secret
HOSTEL_EMAIL=hostel@college.edu
APP_ENV=development
